@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    font-family: "Ubuntu";
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: hsl(217, 100%, 97%);
    align-items: center;
    height: 100vh;
    font-family: "Ubuntu";
}

.content {
    background-color: #fff;
    width: 40rem;
    height: 28rem;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 30% 70%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.side {
    /* flex: 1 1 auto; */
    background-image: url('./assets/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0.3rem;
    border-radius: 8px;
}

/* .main {
    flex: 4 1 auto;
} */

@media screen and (max-width:620px) {
    .content {
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: 100%;
        height: 100%;
        width: 100%;
        padding: 0;
        border-radius: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        background-color: hsl(217, 100%, 97%);
        position: relative;
    }

    .App {
        display: block;
        /* height: 100%; */
    }

    .main {
        box-shadow: 0 0 13px rgba(0, 0, 0, .2);
        width: calc(100% - 100px);
        margin: 1rem auto;
        border-radius: 12px;
        position: absolute;
        z-index: 100;
        background-color: #fff;
        top: -120px;
        height: fit-content;
    }

    .side {
        background-image: url('./assets/bg-sidebar-mobile.svg');
        background-size: cover;
        border-radius: 0;
    }
}

.button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80%;
    bottom: 0;
}


.button button {
    cursor: pointer;

}

.confirm {
    background-color: hsl(243, 100%, 62%);
    color: #fff;
    padding: 0.8rem;
    border-radius: 5px;
    font-weight: 400;
    border: none;

}

.prev {
    background-color: #fff;
    border: none;
    font-weight: bold;
    color: hsl(231, 11%, 63%);
}

.disable {
    cursor: not-allowed !important;
    color: hsl(231, 11%, 63%);
    font-weight: bold;
}

.prev:focus,
.prev:hover {
    color: hsl(213, 96%, 18%);
}

.disable:focus,
.disable:hover {
    color: hsl(231, 11%, 63%);

}

.error {
    color: hsl(354, 84%, 57%);
    position: absolute;
    margin-top: -10px;
}

.next {
    background-color: hsl(213, 96%, 18%);
    color: #fff;
    padding: 0.8rem;
    border-radius: 5px;
    font-weight: 400;
    border: none;
}

@media screen and (max-width:620px) {
    .button {
        position: fixed;
        background-color: #fff;
        width: 100%;
        left: 0;
        padding: 0.8rem;
    }

    .next,.confirm {
        margin-right: 30px;
    }
}